@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #08142b !important;
  height: 100vh !important;
  overflow-y: hidden;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
}

.main-body {
  height: 100vh !important;
  background-color: #08142b;
  overflow-x: hidden;
}

.cb-logo {
  width: 250px !important;
  height: 32px !important;
}

.bg-color {
  background-color: #08142b !important;
}

.bg-color .collapse .navbar-nav li a {
  color: #fff !important;
  font-size: 14px !important;
}

.bdr-line-left {
  border-left: 2px solid #0b1b38 !important;
  padding-left: 30px;
  /* padding-right: 30px; */
}

.bdr-line-bottom {
  border-bottom: 2px solid #0b1b38 !important;
}

.right-nav {
  color: #fff;
  font-size: 14px;
  float: right !important;
}

.navbar-expand-lg {
  justify-content: space-between !important;
}

.right-nav > div {
  margin-right: 17px;
}

.hex-id {
  padding: 5px 20px 5px 20px;
  background: #253148 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.rl {
  padding-right: 0px !important;
}

.csr-pointer {
  cursor: pointer !important;
}

.navs-hover ul li {
  margin-right: 5px !important;
  padding-bottom: 20px !important;
  border-bottom: 3px solid #08142b;
}

.navs-hover ul li:hover {
  border-bottom: 3px solid #1168d0;
  padding-bottom: 20px !important;
  color: #fff;
  opacity: 0.5;
}

.left-switch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #253148;
  padding: 10px 15px 10px 20px;
  color: #fff;
  font-size: 0.6vw;
}

.sw-active {
  background-color: #1168d0;
  padding: 10px 15px 10px 20px;
}

.left-switch-btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px 15px 10px 20px;
  color: #fff;
  font-size: 10px;
  border-bottom: 3px solid #08142b;
}

.line-active {
  border-bottom: 3px solid #1168d0;
  padding: 10px 15px 10px 20px;
}

.rounded-lefts {
  border-radius: 5px 0px 0px 5px !important;
}

.rounded-rights {
  border-radius: 0px 5px 5px 0px !important;
}

.iconify img {
  width: 20px;
}

.iconify-active img {
  width: 20px;
}

.iconify-active {
  background-color: #253148;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* .iconify {
  padding: 2px 10px 2px 10px;
  border: solid 1px #253148;
  border-radius: 5px;
  cursor: pointer;
} */

.iconify {
  height: 30px !important;

  /* background-image: url("./assetsnav-icons/earth.png"); */
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 40px !important;
  padding: 2px 10px 2px 10px;
  border: solid 1px #253148;
  border-radius: 5px;
  cursor: pointer;
}

.fire {
  background-image: url("./assets/nav-icons/fire.png");
  background-color: #253148;
}
.water {
  background-image: url("./assets/nav-icons/water.png");
  background-color: #253148;
}

.earth {
  background-image: url("./assets/nav-icons/earth.png");
  background-color: #253148;
}

.lightning {
  background-image: url("./assets/nav-icons/lightning.png");
  background-color: #253148;
}

.fire-off {
  background-image: url("./assets/nav-icons/fire-off.png");
  border: solid 1px #253148;
}
.water-off {
  background-image: url("./assets/nav-icons/water-off.png");
  border: solid 1px #253148;
}

.earth-off {
  background-image: url("./assets/nav-icons/earth-off.png");
  border: solid 1px #253148;
}

.lightning-off {
  background-image: url("./assets/nav-icons/lightning-off.png");
  border: solid 1px #253148;
}

.iconify-active {
  height: 30px !important;
  /* background-image: url("./assets////////nav-icons/earth.png"); */
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 40px !important;
  padding: 2px 10px 2px 10px;
  border: solid 1px #253148;
  border-radius: 5px;
  cursor: pointer;
}

.filters {
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 30px;
}

.plr {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.filters label {
  color: #fff;
  font-size: 12px !important;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.filters div .form-check-label {
  color: #fff;
  font-size: 11px !important;
  opacity: 0.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.filters .row .col-lg-6 div .form-check-input {
  background-color: #08142b;
  border: solid 1px #848a95;
}

.filters .row .col-lg-6 div .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.filter-list div .form-check-input {
  background-color: #08142b;
  border: solid 1px #848a95;
}

.filter-list div .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.slidecontainer {
  width: 100%;
}

.cstm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* padding: 10px 10px 10px 10px; */
  background-color: #08142b;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.357);
  /* width: 48%; */
  border-radius: 5px;
  font-size: 11px;
  text-align: center;
}

.cstm-btn-active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* width: 48%; */
  text-align: center;
  font-size: 11px;
  background-color: #1168d0;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.357);
  padding: 10px 15px 10px 20px;
  border-radius: 5px;
}

.sidebar-btn {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  width: 100%;
  outline: none;

  padding: 1em 1.5em;

  border: none;
  border-bottom: 2px solid #0b1b38 !important;

  background-color: transparent;
}

.sidebar-btn-active {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  width: 100%;
  outline: none;

  padding: 1em 1.5em;

  border: none;
  border-bottom: 2px solid #0b1b38 !important;

  background-color: #1168d0;
}

.item-list {
  height: calc(100vh - 100px);
}

.banner-ads {
  display: flex;
  width: 100% !;
}

.banner-ads div {
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.bg-banner-left {
  background-image: url("./assets/banner-left.png");
  height: 250px !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  border-radius: 7px;
  /* background-color: rgb(107, 107, 107); */
}

.bg-banner-right {
  background-image: url("./assets/banner-right.png");
  height: 250px !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  border-radius: 7px;
  /* background-color: rgb(107, 107, 107); */
}

.filtered {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.title-bar {
  display: flex;
  border-radius: 5px;
  background-color: #1e293c;
  padding-left: 20px;
  width: 100% !important;
  align-items: center !important;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
}

.filter-list {
  display: flex;
  border-radius: 5px;
  background-color: #1e293c;
  padding-left: 20px;
  width: 100% !important;
  align-items: center !important;
  padding-right: 20px;
}

.filter-list svg,
.filter-list select,
.filter-list input {
  margin-right: 20px;
}

.sort-tab .max,
.sort-tab .min {
  width: 150px;
}

.select-metro {
  padding: 7px 12px 7px 12px !important;
  background-color: #08142b;
  color: #fff;
  border: 0px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.213); */
  border-radius: 3px;
  font-size: 13px !important;
  width: 200px !important;
  font-family: Roboto;
}

.select-metro option {
  padding: 10px !important;
}

.search {
  padding-right: 10px !important;
  padding-left: 10px !important;
  display: flex;
  align-items: center;
  background-color: #1e293c;
  border-radius: 5px 5px 5px 5px;
}

.search-input {
  padding: 5px 15px 5px 15px !important;
  background-color: #1e293c !important;
  color: #8f949e !important;
  height: 40px;
  border: 0px !important;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.213); */
  font-size: 13px !important;
  width: 400px !important;
  font-family: Roboto;
}

.result-text {
  margin-bottom: 0px !important;
  font-family: Roboto;
  font-size: 12px;
  color: #ffffffd4;
  padding-left: 25px;
}

.list-items {
  display: flex;
  padding-bottom: 30px !important;
}

.left-nav {
  display: flex;
  width: max-content;
  /* width: 100% !important; */
  justify-content: space-between;
}

.item-card {
  border: 1px solid #43506a;
  border-radius: 5px;
  padding: 18px 18px 5px 18px;
  margin-right: 10px !important;
  margin-bottom: 20px !important;
}

.item-card .weapons {
  margin-top: -50px;
  width: 180px;
}

.item-card .nft {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 180px;
}

.imgs .label {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.522);
  font-family: Roboto;
  font-size: 10px;
  width: 180px;
}

.imgs .label .rarity {
  padding: 2px 15px 2px 15px;
  border-radius: 4px;
  border: 0px !important;
  text-align: center !important;
  margin-bottom: 8px !important;
}

.imgs .label p {
  padding: 2px 15px 2px 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.474);
  margin-bottom: 8px !important;
}

.imgs .label span {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.spacer {
  margin-top: 15px !important;
  width: 100% !important;
  display: flex;
  justify-content: space-evenly;
}

.substat {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #b9bfcc;
  font-size: 13px;
  /* padding-bottom: 10px; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.439); */
}

.desc .battle-power {
  font-size: 11px !important;
  font-weight: 400;
  font-family: Roboto !important;
  color: #b9bfcc;
  margin-bottom: 10px;
}

.desc .image-name {
  padding-bottom: 0px !important;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.progress-bar div {
  width: 100% !important;
  background-color: #43506a !important;
  height: 3px;
  display: flex;
  justify-content: start !important;
  padding: 0px !important;
  margin: 0px !important;
}

.lines div {
  width: 100% !important;
  background-color: #43506a !important;
  height: 1px;
  display: flex;
  justify-content: start !important;
  padding: 0px !important;
  margin: 0px !important;
}

.progress-bar div .progress {
  background-color: #db0000 !important;
  height: 3px;
  border-radius: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.substat .stats {
  font-size: 11px;
  color: #fff;
  font-family: Roboto !important;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cost-item {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.vl-bot {
  border-left: 1px solid #404857;
  height: 40px;
}

.vl-bot-fade {
  border-left: 1px solid #40485700;
  height: 40px;
}

.vl-top {
  border-left: 1px solid #404857;
  height: 40px;
}

.vl-top-fade {
  border-left: 1px solid #40485700;
  height: 40px;
}

.history {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
}

.history .content .details {
  display: flex;
  align-items: center;
}

.history .content .details .imgs > img {
  width: 50px;
}

.history .content .details .imgs {
  padding: 5px;
  border: 1px solid #43506a;
  border-radius: 5px;
  margin-left: 27px;
  margin-right: 27px;
}

.history .content > h5 {
  font-size: 15px;
  color: #fff;
  font-family: Roboto;
}

.history .content .details .time-format {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history .content .details .time-format .time {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.487);
  font-family: Roboto;
}

.history .content .details .desc {
  font-size: 12px;
  color: #b9bfcc;
  font-family: Roboto;
}

.history .content .details .desc > span {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Roboto;
}

.cost-item span {
  font-family: Roboto;
  font-size: 13px;
  color: #fff;
}

.cost-item .nft-id {
  font-family: Roboto;
  font-size: 10px;
  color: #b9bfcc;
}

.buttons .btn-purchase,
.buttons .btn-sell {
  font-family: Roboto;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  background-color: #253148;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px !important;
  text-align: center;
}

.buttons .btn-active {
  font-family: Roboto;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  background-color: #3997f5;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px !important;
  text-align: center;
}

.buttons .btn-sold {
  font-family: Roboto;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  background-color: #7ba224;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px !important;
  text-align: center;
}

.right {
  margin-right: 5px !important;
}
.left {
  margin-left: 5px !important;
}

.sort-tab {
  display: flex;
  align-items: center;
}

.hidden-desktop-lg {
  display: none !important;
}

.popover {
  border: #43506a solid 1px;
  border-radius: 0px;
}
.popover-body {
  background-color: #020b1c !important;
  padding: 18px !important;
  background-color: rgba(255, 255, 255, 0);
}

.popover-design p {
  color: #b9bfcc;
  font-family: Roboto;
  font-size: 12px;
  margin-bottom: 4px;
}

.popover-design h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 700;
}

.traits span {
  color: #b9bfcc;
  font-size: 10px !important;
  font-family: Roboto;
}

.traits {
  padding-bottom: 10px;
}

.learn {
  color: #b3b9c6;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400 !important;
  padding-top: 10px;
  padding-bottom: 0px;
  border-top: #43506a solid 1px;
}

.upperLabel {
  background-color: #1168d0;
  padding-left: 20px !important;
  padding-top: 10px;
  font-size: 12px !important;
  color: #fff;
  padding-bottom: 10px;
}

.modal-details {
  background-color: rgba(0, 0, 0, 0.433) !important;
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  z-index: 1059 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contianer {
  background-color: #051126;
  border: #43506a solid 1px;
  z-index: 1060 !important;
  width: 48%;
  padding: 60px 40px 60px 20px;
  height: fit-content;
}

.rarities span {
  color: #fff;
  background-color: #d16100;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 10px;
}

.titles {
  padding-top: 10px;
  padding-bottom: 10px;
}

.titles .l {
  padding-left: 20px !important;
  border-left: #43506a solid 1px;
  color: #b9bfcc;
  font-family: Roboto;
  margin-bottom: 4px;
  font-size: 14px;
}

.titles .r {
  padding-right: 20px !important;
  color: #b9bfcc;
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 4px;
}

.titles h4 {
  color: #fff;
  width: fit-content;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
}

.powers span {
  font-size: 10px;
  color: #ffffff;
}

.powers p {
  font-size: 20px !important;
  color: #ffffff;
  font-weight: 500;
}

.close {
  position: relative !important;
  float: right;
  margin-top: -75px;
  margin-right: -55px;
  z-index: 1061;
  cursor: pointer;
}

.buttones {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttones .cstm-btn {
  font-family: Roboto;
  letter-spacing: 1px;
  width: 40%;
}

.buttones .active-btn {
  border: solid 2px #1168d0;
}

.buttones .space {
  color: rgba(0, 0, 0, 0);
}

.sell input {
  background-color: #08142b;
  border: #43506a 1px solid;
  padding: 8px 10px 8px 10px;
  color: #fff;
  border-radius: 3px;
  width: 25%;
  font-size: 13px;
}

.sell button {
  background-color: #1168d0;
  padding: 8px 10px 8px 10px;
  color: #fff;
  margin-left: 15px !important;
  border-radius: 3px;
  width: 25%;
  font-size: 13px;
}

.inst p {
  margin-top: 17px;
  font-family: Roboto !important;
  color: #b9bfcc;
  font-size: 12px;
}

.inst p span {
  margin-top: 17px;
  font-weight: 600;
  font-family: Roboto !important;
  color: #ffffff;
  font-size: 12px;
}

.tabs {
  cursor: pointer;
  color: #fff;
  padding: 12px;
  padding-left: 15px;
  font-size: 12px !important;
  border-top: solid 1px #253148;
  border-bottom: 1px solid #253148;
}

.tabs:hover {
  color: #ffffff6e;
}

.log-out {
  padding: 30px 15px 20px 15px;
  color: #848a95;
  font-size: 13px !important;
}

/*------------ Transition Animation -----------------*/
.right-fade-enter-active {
  transition: all 0.2s ease;
}
.right-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.right-fade-enter, .right-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-30px);
  opacity: 0;
}

.fadeInUp-enter-active {
  transition: all 0.3s ease;
}
.fadeInUp-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadeInUp-enter, .fadeInUp-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(50px);
  opacity: 0;
}

.stretch-enter-active {
  transition: all 0.3s ease;
}
.stretch-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.stretch-enter, .stretch-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(50px);
  height: 50%;
  opacity: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row .mbl-50 {
    width: 50% !important;
  }

  .list-items {
    display: flex;
    padding-bottom: 30px !important;
  }

  .tab-list button {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .app .col-sm-6 .navbar .left-nav {
    display: none;
  }

  .app .top-navs .right-nav > div {
    margin-right: 0px !important;
  }

  .app .mobile-menu {
    display: inline !important;
  }

  .mobile-navigation {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top: 1px solid #43506a;
    border-bottom: 1px solid #43506a;
  }

  .app .top-navs {
    width: 50% !important;
    border: none !important;
  }

  .banner-ads {
    display: flex;
    width: 100% !;
  }

  .banner-ads > div {
    margin: 15px;
    flex-grow: 1 !important;
    margin-top: 0px;
    height: 150px !important;
    background-size: contain;
    margin-bottom: 0px;
  }

  .banner-ads .bg-banner-right {
    display: none;
  }

  .filter-list svg,
  .filter-list .form-check > label,
  .filter-list select,
  .filter-list input {
    margin-right: 10px;
    font-size: 11px !important;
  }

  .sort-tab .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    background-color: rgba(0, 0, 0, 0.494);
    height: 100vh;
    position: absolute;
    z-index: 999;
    display: inline;
  }

  .nav-menu {
    background-color: #08142b;
    width: 75% !important;
    height: 100vh;
    margin-left: -20px;
    padding-top: 10%;
    padding-left: 25px !important;
  }

  .progress-bar div {
    width: 100% !important;
    background-color: #43506a !important;
    height: 3px;
    display: flex;
    justify-content: start !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .lines div {
    width: 100% !important;
    background-color: #43506a !important;
    height: 1px;
    display: flex;
    justify-content: start !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .progress-bar div .progress {
    background-color: #db0000 !important;
    height: 3px;
    border-radius: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .show-mobile-sm {
    display: inline !important;
  }

  .cost-item span {
    font-size: 11px;
  }

  .substat {
    padding-left: 10px !important;
  }

  .substat .stats {
    font-size: 9px !important;
  }

  .desc {
    padding: 2px 7px 2px 7px !important;
  }

  .imgs {
    text-align: center;
  }

  .imgs .label {
    padding: 10px !important;
  }

  .imgs .label p {
    font-size: 9px !important;
  }

  .imgs .label span {
    font-size: 11px !important;
  }

  .item-card {
    border: 1px solid #d16100;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    width: 46% !important;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }

  .item-card .nft {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 95%;
  }

  .item-card .weapons {
    margin-top: -50px;
    height: 70% !important;
    width: 70%;
  }

  .item-card .characters {
    margin-top: -50px;
    width: 100px;
  }

  .substat {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #b9bfcc;
    font-size: 13px;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.439); */
  }

  .desc .battle-power {
    font-size: 9px !important;
    font-weight: 400;
    font-family: Roboto !important;
    color: #b9bfcc;
    margin-bottom: 10px;
  }

  .desc .image-name {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
  }

  .cb-logo {
    width: 150px !important;
    height: 20px !important;
    align-self: left;
  }

  .search-input {
    padding: 5px 15px 5px 15px !important;
    background-color: #1e293c !important;
    color: #8f949e !important;
    height: 40px;
    border: 0px !important;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.213); */
    font-size: 13px !important;
    flex-grow: 1;
    font-family: Roboto;
  }

  .bdr-line-left {
    border-left: 0px !important;
  }

  .navbar-toggler {
    border: none !important;
    margin-top: -20px !important;
    color: #fff;
    font-family: Roboto !important;
    font-size: 12px !important;
  }

  .navbar-toggler.hex-id {
    padding: 7px 13px 7px 13px;
    width: fit-content !important;
    color: #fff;
    background: #253148 0% 0% no-repeat padding-box !important;
    font-family: Roboto !important;
    font-size: 13px !important;
  }

  .hidden-mobile-sm {
    display: none;
  }

  .filter-list {
    display: flex;
    flex-direction: column;
  }
  .select-metro {
    padding: 5px !important;
    background-color: #08142b;
    color: #fff;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.213);
    font-size: 13px !important;
    width: 100px !important;
    font-family: Roboto;
  }

  .sort-tab {
    display: flex;
    width: 90vw !important;
    flex-grow: 1;
    justify-content: space-between !important;
  }

  .filter-list {
    padding: 0px !important;
    padding-left: 30px !important;
  }

  .sort-tab > input,
  .sort-tab > select {
    width: 60px !important;
  }

  .app {
    margin: auto !important;
  }
  .mpb-1 {
    padding-bottom: 20px;
  }

  .sort-tab .form-check {
    border-right: 0px solid !important;
  }

  .filter-list svg {
    margin-right: 20px;
  }

  .filter-list select {
    margin-right: 2px !important;
  }

  .filter-list svg,
  .filter-lsit input {
    margin-right: 20px;
  }

  .left-switch-btn,
  .left-switch-btn-line {
    font-size: 13px !important;
  }
}
